.Header_Body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.Header_Home {
  display: inline-flex;
  align-items: center;
}

.Header_Logo {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 10%;
  border-radius: 50%;
}

.Header_Company {
  margin-left: 2%;
  color: white;
  justify-items: center;
}

.Header_MenuItems {
  width: auto;
}

.Header_Login {
width: 5%;
}